nav {
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Azul degradado */
  padding: 15px;
  text-align: right; /* Alinea a la derecha */
}

nav a {
  color: white; /* Cambia el color a blanco */
  text-decoration: none;
  margin-right: 20px; /* Espaciado entre enlaces */
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra más sutil */
  font-size: 2rem; /* Texto más grande */
  text-align: center; /* Centrar el texto */
  margin-top: 50px;
}
body {
  background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
}
